@model NewsSystem.Models.Article

<div class="jumbotron">
    <div>
        <h3>@Model.Title</h3>
        <hr />
        <div class="dl-horizontal">
            <div>
                <p class="paragraph">@Model.Content</p>
            </div>

            <div>
                <dt>
                    @Html.DisplayName("Date of Creation:")

                </dt>
                <div class="float-right">
                    <dd>
                        <p><strong>Author: </strong>@Model.Author.UserName</p>
                        <p><strong>Likes: </strong>@Model.Likes.Sum(l => l.Value)</p>

                    </dd>
                </div>
                <dd>
                    @Html.DisplayFor(model => model.CreationDate)
                </dd>
                <div class="text-center">
                    <a href="~/article/details/@Model.ArticleId/Like" class="btn btn-success">Like</a>
                    <a href="~/article/details/@Model.ArticleId/Dislike" class="btn btn-danger ">Dislike</a>
                </div>
                <div>
                    <a href="~/home/index" class="btn btn-dark">Return</a>
                </div>
            </div>


        </div>
    </div>

</div>



