@model NewsSystem.Models.Article

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Title: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayName("Content: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayName("Category Name:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayName("Created On: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt>
            @Html.DisplayName("Author: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.UserName)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
