<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <title>@ViewBag.Title - News System</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/popper.min.js")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "actionLink nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("About", "About", "Home", null, new { @class = "actionLink nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Contact", "Contacts", "Home", null, new { @class = "actionLink nav-link" })
                </li>

                @if (Request.IsAuthenticated)
                {
                    <li class="nav-item">
                        @Html.ActionLink("News", "ListAllArticles", "Article", null, new { @class = "actionLink nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Categories", "ListAllCategories", "Category", null, new { @class = "actionLink nav-link" })
                    </li>
                }
            </ul>
            <ul class="navbar-nav ">
                <li class="nav-item">
                    @Html.ActionLink("News System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand actionLink" })
                </li>
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Radoslav Varadinov - News System</p>
        </footer>
    </div>
</body>
</html>
